html, body { height: 100%; margin: 0; padding: 0; border: 0px; }	

#map { 
	position: absolute;
    top: 51px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
}

.FPnavbar{	
    margin-bottom: 0px;
	z-index:1;
}
.userIcon{
	font-size:16px;
}