html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0; 
	border: 0px; 
}	

#map { 
	position: absolute;
    top: 51px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
}

.FPnavbar{	
    margin-bottom: 0px;
	z-index:1;
}
.userIcon{
	font-size:16px;
}

/* BOTAO FLUTUANTE*/
.btn-circle {
	width: 50px;
	height: 50px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 100%;
	transition: .3s;
	right: 7%;
    position: fixed;
    bottom: 7%;
	z-index:1;
	button::-moz-focus-inner { border: 0; }
}

.btn:focus {
	outline: none;
}

i.glyphicon-map-marker {
	font-size: 2em;
}		

/*.div-float-button{
	z-index:1;
	position:relative;
	overflow:hidden;
}*/


/* modal fullscreen */
.modal.modal-fullscreen .modal-dialog,.modal.modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.modal.modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%
}

.modal.modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit
}

.modal.modal-fullscreen.force-fullscreen .modal-body {
    padding: 0;
    margin-top: 65px;
}

.modal.modal-fullscreen.force-fullscreen .modal-header,.modal.modal-fullscreen.force-fullscreen .modal-footer {
    left: 0;
    position: absolute;
    right: 0
}

.modal.modal-fullscreen.force-fullscreen .modal-header {
    top: 0
}

.modal.modal-fullscreen.force-fullscreen .modal-footer {
    bottom: 0
}


